@page "/stocks"
@inject StocksService stocksService
@inject StateService state

<h3>Stocks</h3>

@if (stocks == null)
{
<div class="spinner-border text-primary"></div>
}
else
{
    <div class="row">
        @foreach (var stock in stocks)
        {
        <div class="card stock-card col-md-3 col-xl-3 m-3">
            <div class="card-title text-center font-weight-bold pt-3">@stock.Symbol</div>
            <div class="card-body">
                <p class="text-center">@stock.Name</p>
                <div class="d-flex flex-row justify-content-center">
                    <button class="btn btn-outline-primary oi oi-plus font-weight-bold"
                            @onclick="@(() => AddStock(stock.ID))"></button>
                </div>
            </div>
        </div>
        }
    </div>
}

@code {
    private List<Stock> stocks;

    protected override async Task OnInitializedAsync()
    {
        this.stocks = await this.stocksService.GetStocks();
    }

    private async void AddStock(int stockId)
    {
        this.stocks = null;
        await this.stocksService.AddStock(stockId, this.state.LoggedUser.ID);
        this.stocks = await this.stocksService.GetStocks();
    }
}
